.wd-tuits-size {
    font-size: 12px;
    color: dimgrey;
}

.wd-font-size{
    font-size: 15px;
    color: dimgray;
}

.wd-edit-profile-input {
    width: 100%;
    background-color: white;
    color: black;
    border: none;
}

.wd-back-icon{
    size: 30px;
}
.wd-name{
    font-size: 20px;
    font-weight: bold;
}



.wd-avatar-position{
    position:relative;
    top:-50px;
    left: 20px;
}
.wd-button-edit{
    color: black;
    background-color: white;
    border-radius: 18px;
    padding: 5px 10px;
    margin: 4px 2px;
}
.wd-button-save{
    color: white;
    background-color: black;
    border-radius: 16px;
    border: none;
    padding: 5px 10px;
    margin: 4px 2px;
}

.wd-border-color {
    color: #6c757d;
}