.wd-background-color {
    background-color: black;
}

.wd-border-style {
    border: 1px solid lightgray;
}

.wd-offset-left-border {
    padding-left: 26px;
}

.wd-offset-top-border-8px {
    padding-top: 8px;
}

.wd-padding-bottom-8px {
    padding-bottom: 8px;
}

.wd-no-bottom-border {
    border-bottom: none;
}

.wd-no-top-border {
    border-top: none;
}

.wd-font-family {
    font-family: sans-serif;
}

img#setting-icon-style {
    height:20px;
    width:20px;
    padding-top: 12px;
    padding-right: 12px;
    float: right;
}

input#search-bar-style {
    padding-left: 50px;
    border-radius: 20px;
    color: white;
    width: 85%;
    height: 30px;
    float: left;
}

.wd-b {
    margin-top: 60px;
    padding-bottom: 10px;
}

.wd-for-you {
    text-decoration: none;
    color: rgb(29, 161, 242);
    font-size: 15px;
    padding: 16px 16px 16px 0;
}

.wd-link-underline {
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(29, 161, 242);
}

.wd-other-links {
    text-decoration: none;
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
}

.wd-rectangle {
    height: 10px;
    background-color: rgb(47, 51, 54);
}

.wd-topic {
    font-size: 13px;
    color:rgb(110, 118, 125);
}

.wd-title {
    font-size: 16px;
    color:white;
    font-weight: bold;
}

.wd-author-name {
    font-size: 13px;
    font-weight: bold;
}

.wd-author-portrait {
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

.wd-news-picture {
    margin-right: 16px;
}

.wd-news-picture-style {
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.wd-float-done {
    clear: both;
}

.wd-topic-e {
    font-size: 13px;
    color: gray;
}

.wd-font-right-bar-author {
    font-size: 16px;
    font-weight: bold;
}

.wd-author-portrait-style {
    display:inline-block;
    position:relative;
    width:48px;
    height:48px;
    overflow:hidden;
    border-radius:50%;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-float-done {
    clear: both;
}

.wd-margin-right-12px {
    margin-right: 12px;
}

.wd-button-radio {
    border-radius: 2.666667rem 2.666667rem 2.666667rem 2.666667rem
}

.wd-color-blue {
    color: #0d6efd;
}

.wd-search_input input[type='text']{
    display: inline-block;
    border-radius: 25px;
    width: 95%;
    height: 40px;
    text-indent: 30px;
    border: 1px solid lightgray;
}

.wd-search_input input[type='text']:focus{
    border: 0 white;
}

.wd-search_input i{
    position: relative;
    left: 30px;
    top: 1px;
    color: dimgray;
}

.wd-no-padding {
    padding: 0;
}

.wd-flex-container-background {
    display: flex;
}

.wd-flex-box1 {
    float: left;
}

.wd-flex-box2 {
    float: left;
}

.wd-flex-box3 {
    float: right;
}

.wd-box1-width {
    width: 80%;
}

.wd-big-picture {
    width: 100%;
    height: 100%;
}

.wd-position-relative {
    position: relative;
}

.wd-picture-title {
    font-weight: bold;
    bottom:0;
    left:10px;
}

.wd-inline-block {
    display: inline-block;
}

.wd-line-height {
    line-height: 18px;
}

.wd-top-border-5px {
    padding-top: 5px;
}

.wd-margin-right-18px {
    margin-right: 18px;
}

.wd-padding-bottom-15px {
    padding-bottom: 15px;
}

.wd-no-left-padding {
    padding-left: 0px;
}

.wd-glass {
    bottom: 10px;
    left: 10px;
}







